.main-container {
  display: flex;
  background-color: var(--gray);
  min-height: calc(100vh-20px);
  padding-top: 20px;
  font-family: sans-serif;
  width: 90%;
  margin: auto;
  gap: 40px;
}

.title {
  color: var(--primary);
  font-size: 32px;
  margin-bottom: 5px;
}

.description {
  font-weight: normal;
}

.description,
.preview {
  color: var(--text-color);
}

.availableImages {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.availableImages img {
  width: 170px;
}

.image-upload-container {
  margin-bottom: 10px;
  display: block;
}

.image-upload-container input {
  border: 0;
}

.file-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 1rem;
}

.export-btn {
  margin-left: 10px;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 17px;
  border: 0;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 4px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: start;
}

.action-opacity .action-title,
.action-priority .action-title {
  margin-right: 10px;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--primary-hover);
}

.btn:disabled {
  background-color: var(--primary-disabled) !important;
  cursor: default;
}

.export-btn:hover {
  cursor: pointer;
  background-color: var(--primary-hover);
}

.btn-ml {
  margin-left: 10px;
}

.upload-button:hover {
  cursor: pointer;
  background-color: var(--primary-hover);
}

.default-input {
  width: 100px;
  height: 34px;
  border-radius: 4px;
  font-size: 17px;
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.opacity-input:disabled {
  border-bottom: 1px solid;
}

.opacity-input:focus-visible {
  outline: 0;
}

.delete-btn {
  background-color: var(--error-text);
  margin-top: 10px;
}

.delete-btn:hover {
  background-color: var(--error-hover);
}

.bottom-line {
  margin-top: 20px;
  display: flex;
  gap: 40px;
}

.actions-title {
  margin-top: 0;
}

.note-input {
  width: 350px;
  margin-top: 7px;
}

.text-add-button p {
  margin: 0;
}

.default-input:focus-visible {
  outline: 0;
}

.d-flex {
  display: flex;
}

.content-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.action-toggle-resize {
  margin-top: 10px;
}

.resize-btn.locked {
  background-color: var(--error-hover);
}

.m-0 {
  margin: 0;
}
