<div class="main-container">
  <div>
    <h2 class="title">Demo</h2>
    <p class="description">Image manipulation demo</p>

    <div class="file-wrapper">
      <span>Select Image</span>
      <input
        #imageInput
        type="file"
        accept="image/*"
        (change)="processFile(imageInput)"
        id="actual-btn"
        onclick="this.value=null;"
        hidden
      />
      <label class="upload-button btn btn-ml" for="actual-btn"
        >Choose File</label
      >
    </div>

    <div class="availableImages">
      <img *ngFor="let image of imageUrls" [src]="image" alt="" />
    </div>
  </div>

  <div>
    <h3 class="preview">
      Page preview
      <button class="export-btn btn" (click)="exportImage()">
        Export result image
      </button>
    </h3>
    <div id="container"></div>
    <div class="bottom-line">
      <div class="actions">
        <h3 class="actions-title">Actions for selected image:</h3>
        <div class="action action-priority">
          <p class="action-title">Layer Priority</p>
          <button
            (click)="handlePriorityChange(priorityAction.Increase)"
            class="btn"
            [disabled]="!isPriorityButtonActive(priorityAction.Increase)"
          >
            Increase Priority
          </button>
          <button
            (click)="handlePriorityChange(priorityAction.Decrease)"
            class="btn btn-second btn-ml"
            [disabled]="!isPriorityButtonActive(priorityAction.Decrease)"
          >
            Decrease Priority
          </button>
        </div>
        <div class="action action-opacity">
          <p class="action-title">Layer Opacity (0-1)</p>
          <div class="opacity-wrapper">
            <input
              [disabled]="!isOpacityButtonActive()"
              [(ngModel)]="opacityText"
              type="number"
              max="1"
              min="0"
              step="0.1"
              class="opacity-input default-input"
              name="opacity"
              id="opacity"
            />
            <button
              class="btn opacity-btn btn-ml"
              (click)="setOpacity()"
              [disabled]="!isOpacityButtonActive()"
            >
              Apply
            </button>
          </div>
        </div>
        <div class="action action-delete">
          <button
            [disabled]="!isDeleteButtonActive()"
            class="btn delete-btn btn-ml"
            (click)="deleteImage()"
          >
            Delete selected Object
          </button>
        </div>
      </div>
      <div class="text-nots">
        <h3 class="actions-title">Addition text:</h3>
        <input
          [(ngModel)]="noteText"
          #ctrl="ngModel"
          class="default-input note-input"
        />
        <button (click)="addText()" class="btn btn-ml text-add-button">
          <p *ngIf="isTextNodeSelected()">Change text</p>
          <p *ngIf="!isTextNodeSelected()">Add new text</p>
        </button>
      </div>
    </div>
  </div>
</div>
